language: c

dist: bionic
osx_image: xcode11.5

jobs:
  include:
    - os: linux
      arch: amd64
    - os: osx
      arch: amd64

addons:
  apt:
    packages:
      - cmake
      - libgmp-dev
  homebrew:
    packages:
      - gmp
    update: true

script:
  - scripts/toolchains.sh
